html,
body {
  margin: 0;
  padding: 0;
}

.converImageContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  #coverImage {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
}
