.root {
    flex-grow: 1;
}

.menuButton {
    margin-right: 8px;
}

.title {
    flex-grow: 1;
}

.themeToggleButton {
    .MuiToggleButton {
        border-radius: 0;
    }
}

.converImageContainer {
    position: relative;
    padding: 24px 0;
  }